<!DOCTYPE html>
<html>
<head><title>
	DocTech 
</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>
<body>

	<div class="jumbotron">
  <h1 class="display-4 "><center>DocTech</center></h1></div>
	<div class="container-fluid">
<div class="col-md-6">		
<div class="panel-group" id="accordion">
</div>
</div>
 <div class="col-md-6">
 <div id="chartContainer" style="height: 300px; width: 100%;"></div>
 <center><button id="updateDataPoint">Update Data Point</button></center>
</div>
</div>  	
<div class="container-fluid" id="con1">
	<div class="col-md-6" id="positive">
		<h1 id="postitle"><center><i>POSITIVE</i></center></h1>
		<ul class="list-group" id="poss"></ul>

	</div>
	<div class="col-md-6" id ="negative">
		<h1 id="negtitle"><center><i>NEGATIVE</i></center></h1>
		<ul class="list-group" id="negg"></ul>
	</div>
</div>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="../javascripts/myscript.js" language="Javascript" type="text/javascript"></script>

</body>
</html>