/*#accordion
{
	width:60%;
}*/

.pos{
margin-left: 40px;
width: 150px;
height: 50px;
border-radius: 12px;
transition-duration: 0.4s;

}
.pos:hover{
background-color: #4CAF50; /* Green */
  color: white;
}
.neg{
margin-left: 40px;
width: 150px;
height: 50px;
border-radius: 12px;
transition-duration: 0.4s;

}
.neg:hover{
background-color: red; /* Green */
  color: white;
}
.panel-body img{
	width: 200px;
	height: 200px;
}